---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Space X project">
	<header class="w-full h-screen relative">
		<video class="w-full h-full object-cover" autoplay height="100%" src="/video/headerVideo.mp4" muted loop></video>
		<div class="w-full  h-full absolute top-0 right-0 flex flex-col items-center justify-center z-10 bg-black bg-opacity-20">
			<h1 class="font-openSans text-4xl font-bold text-white md:text-5xl">Space X analytics</h1>
		</div>
		<figure class="w-full absolute  bottom-40 md:bottom-44 lg:bottom-14 flex justify-center">
			<img class="z-20 cursor-pointer animate-[bounce_1.2s_infinite] w-11 h-10 md:w-14 lg:w-10"  src="/icons/down_arrow.svg" alt="">
		</figure>
	</header>
	<!-- <section>
		<h2>section</h2>
	</section> -->
</Layout>

<style>
	video {
		object-position: 67%;
	}
	@media (min-width: 1000px) {
		video {
			object-position: center;
		}
	}
</style>
