---
import Layout from "../layouts/Layout.astro";
import Chart from "../components/Chart";

const data = {
  totalLaunches: 205,
  totalLaunchesByYear: [
    {
      year: "2006",
      total: 1,
    },
    {
      year: "2007",
      total: 1,
    },
    {
      year: "2008",
      total: 2,
    },
    {
      year: "2009",
      total: 1,
    },
    {
      year: "2010",
      total: 2,
    },
    {
      year: "2012",
      total: 2,
    },
    {
      year: "2013",
      total: 3,
    },
    {
      year: "2014",
      total: 6,
    },
    {
      year: "2015",
      total: 7,
    },
    {
      year: "2016",
      total: 9,
    },
    {
      year: "2017",
      total: 18,
    },
    {
      year: "2018",
      total: 21,
    },
    {
      year: "2019",
      total: 13,
    },
    {
      year: "2020",
      total: 26,
    },
    {
      year: "2021",
      total: 31,
    },
    {
      year: "2022",
      total: 62,
    },
  ],
  totalFailLaunches: 5,
  totalSuccessLaunches: 200,
};
console.log(data);
---

<Layout title="Space X project">
  <header class="w-full h-screen relative">
    <video
      class="w-full h-full object-cover"
      autoplay
      height="100%"
      src="/video/headerVideo.mp4"
      muted
      loop></video>
    <div
      class="w-full h-full absolute top-0 right-0 flex flex-col items-center justify-center z-10 bg-black bg-opacity-20"
    >
      <h1 class="text-4xl font-bold text-white md:text-5xl">
        Space X analytics
      </h1>
    </div>
    <a href="#generalData"
      class="w-full z-20 cursor-pointer animate-[bounce_1.2s_infinite] absolute bottom-36 md:bottom-44 lg:bottom-14 flex justify-center"
    >
      <img
        class=" w-11 h-10 md:w-14 lg:w-10"
        src="/icons/down_arrow.svg"
        alt="Arrow Down icon"
      />
    </a>
  </header>
  <section id="generalData" class="h-auto text-white pb-16 bg-black bg-opacity-70">
    <h2 class="text-2xl font-bold text-center py-12 mb-4 md:text-3xl md:py-5 md:mb-20">General analytics</h2>
    <ul class="w-full text-center mb-14 md:flex md:mx-auto md:mb-10 md:justify-around xl:w-4/5">
      <li class="font-normal mb-20 md:flex-1">
        <p class="font-bold text-xl md:text-2xl">235</p>
        <p>Launches</p>
      </li>

      <li class="font-normal mb-20 md:flex-1">
        <p class="font-bold text-xl md:text-2xl">223</p>
        <p>Successful launches</p>
      </li>

      <li class="font-normal md:flex-1">
        <p class="font-bold text-xl md:text-2xl">2</p>
        <p>Failed launches</p>
      </li>
    </ul>

    <div class=" w-11/12  h-48 md:mx-auto lg:w-3/5 z-10">
	  <h3 class="text-left text-sm font-semibold pl-10 md:pl-0 lg:text-center mb-5">Total launches by year</h3>
      <Chart
        client:only="react"
        data={data.totalLaunchesByYear}
        nameKey="year"
        totalKey="total"
      />
    </div>
  </section>

  <!-- <section class="h-screen">
		<h2>General analytics</h2>
	</section> -->
</Layout>

<style>
  video {
    object-position: 67%;
  }
  @media (min-width: 1000px) {
    video {
      object-position: center;
    }
  }
</style>
